<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="cover">
      <div class="navbar">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><br></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse"></div>
        </div>
      </div>
      <div class="background-image-fixed cover-image" style="background-image : url('{{ STATIC_URL }}img/route-66-1.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">CONAB</h1>
            <p class="text-inverse">Tenha o controle total do que você gasta.&nbsp;</p>
            <a class="btn btn-info btn-lg" data-toggle="modal" href="http://127.0.0.1:8000/admin">Login<br></a>
            <br>
            <br>
            <a class="btn btn-primary btn-sm">  Cadastre-se</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">Desenvolvedores</h1>
            <p class="text-center">Desenvolvido para a Disciplina de Engenharia do Software
              <br>
            </p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2">
            <h3 class="text-center">Airton</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-2">
            <h3 class="text-center">Cátia</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-2">
            <h3 class="text-center">Cremildo</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-2">
            <h3 class="text-center">Léonardo</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-2">
            <h3 class="text-center">Randler</h3>
            <p class="text-center">Developer</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1 contenteditable="true">
              <i class="fa fa-car fa-fw fa-lg"></i>&nbsp; &nbsp;CONAB</h1>
            <p>Controle de gastos em &nbsp;Abestecimento&nbsp;</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-right">
                <a href="https://github.com/randler/Razor_GerenciaPosto.git"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  

</body></html>